body
{
     margin: 0;
     padding: 0;
     background-color: #ffffff;
     /*overflow-y: hidden;*/
     background-image: url("../Background.jpg");
    /* background-image: url("Fun Bytes1.jpg");*/
     /* background-repeat: repeat; */
     background-size: cover;
}


.heading
{
    margin-top: 14rem;
    margin-right: 0px;
    position: absolute;
    background-color: #35424a;
    opacity: 0.9;
    height: 12rem;
    width: 65rem;
    box-shadow: 20px 20px 20px black;
    padding-bottom: 2rem;
}

h1
{
    color:white; 
    font-size: 8rem;
    padding: 2rem;
    margin-top: 0;
    z-index: 2;
}

span
{
    color: black;
}

.mainImg
{
    /* margin-left: 110px;   */
    width: 70rem;
    height: 50rem;
    padding: 0.5rem;
    background: #ffffff;
}

h2
{
    font-size: 60px;
    color: #ffffff;
    margin-left: -10px;
}

.mainContainer
{
     /* width: 70%;
     margin: 150px; */
     color: #ffffff;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     /* background: transparent; */
     /* overflow: scroll; */
     /* max-height: 900px; */
}
.about
{
    position: absolute;
    margin-left:20rem;
    margin-top: 40rem;
    background: #35424a;
    color: #ffffff;;
    /* height: 150px; */
    width: 30rem;
    margin-top:-6rem;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;

    
}

.content1
{
    display: flex;
    border: 3px solid white;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 10rem;
    /* margin-left: 100px; */
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70rem;
    background: white;
}

.content1 p
{
     padding: 3rem;
     margin-top: 10rem;
     /* margin-left: 40px;
     margin-bottom: 20px; */
     color: black;
     justify-content: center;
}

.contentImg
{
    margin-top: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    box-shadow: 10px 10px 10px black;
    height: 30rem;
    width: 30rem;
}

.content2
{
    
    /* width: 1100px; */
    margin-left:5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    padding: 3rem;
    background: black;
    opacity: 0.7;
    color: #ffffff;
}

p
{
    text-align: justify;
    margin-bottom: 5rem;
}

hr
{
     margin-top:-2rem;
     margin-bottom: 3rem;
}







.foot
{
    height:8rem;
    background: #35424a;
    /* border-bottom: 3px solid orangered; */
    margin-top: 10rem;
    margin-bottom: 1rem;
    opacity: 0.5;
}


/****************NAVIGATION BAR*******************/

.navBarContainer
{
    height: 10rem;
    width: 100%;
    background-color: black;
    margin-top: 0px;
    display: flex;
    margin-right: 0px;
}

.Logo
{
    height:6rem;
    width: 6rem;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.WebTitle
{
    color:white;
    font-size: 3rem;
    font-family: Calibri;
    margin-top: 1.2rem;
    margin-left: 3rem;
}

#toggleButton1 
{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 72rem;
    margin-top: 3.2rem;
    background: black;
    border: 0px ;
    outline: none;
}

#toggleButton2
{
    
   /* display: flex;**/
    display: none;
    position: absolute;
    flex-direction: column;
    margin-left: 72rem;
    margin-top: 3.2rem;
    background: black;
    border: 0px ;
    outline: none;
}

#toggleButton1 span  
{
    height: 0.3rem;
    width: 2.9rem;
    background-color: white;
    margin-top: 0.6rem;
    
}

#toggleButton2 span
{
    height: 0.3rem;
    width: 2.9rem;
    background-color: white;
    margin-top: 0.6rem;
}

#sideBar
{
    height: 38rem;
    width: 18rem;
    margin-left: 54rem;
    display: none;
    background: black;
    color: white;
    font-family: Calibri;
    padding: 3rem;
    opacity: .8;
    transition: 5s;
    position: absolute;
    z-index: 3;
}

#sideBar h2
{
    font-size: 1.7rem;
   
}

.link
{
    color: white;
    text-decoration: none;
}


/*******************NAVIGATION BAR ENDING***************************/