
body
{
    margin : 0px;
    background-color:	 #1e4a96f7;;
}
#bigContainer
{
    margin : 2rem;
    font-family: Comic Sans MS;
    font-size: 1.2rem;
    line-height: 1.6rem;
} 

#bigContainer h1
{
    font-family: Calibri;
    font-size: 3rem;
    padding: 3rem;
    background-color : #ffe6ff;
    border-radius: 15px;
    text-align: center;
    margin: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


#container1, #container2, #container3, #container4
{
    padding: 1rem;
    display: flex;
}

#container1 div, #container2 div, #container3 div, #container4 div 
{
    margin: 1rem;
    padding: 1rem;
    background-color:#ffe6ff;
    border-radius: 15px;
}

#container1 img
{
    height: 17rem;
    width: 20rem;
    border-radius: 15px;
    border: 2px solid black;
}

#container3 img
{
    height: 18rem;
    width: 26rem;
    border-radius: 15px;
    border: 2px solid black;
}

#container4 img
{
    height: 17rem;
    width: 22rem;
    border-radius: 15px;
    border: 2px solid black;
}

#container4
{
    margin-bottom: 8rem;
}
/****************NAVIGATION BAR*******************/

.navBarContainer
{
    height: 10rem;
    width: 100%;
    background-color: black;
    margin-top: 0px;
    display: flex;
    margin-right: 0px;
}

.Logo
{
    height:6rem;
    width: 6rem;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.WebTitle
{
    color:white;
    font-size: 3rem;
    font-family: Calibri;
    margin-top: 3.2rem;
    margin-left: 3rem;
}

#toggleButton1 
{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 72rem;
    margin-top: 3.2rem;
    background: black;
    border: 0px ;
    outline: none;
}

#toggleButton2
{
    
   /* display: flex;**/
    display: none;
    position: absolute;
    flex-direction: column;
    margin-left: 72rem;
    margin-top: 3.2rem;
    background: black;
    border: 0px ;
    outline: none;
}

#toggleButton1 span  
{
    height: 0.3rem;
    width: 2.9rem;
    background-color: white;
    margin-top: 0.6rem;
    
}

#toggleButton2 span
{
    height: 0.3rem;
    width: 2.9rem;
    background-color: white;
    margin-top: 0.6rem;
}

#sideBar
{
    height: 38rem;
    width: 18rem;
    margin-left: 54rem;
    display: none;
    background: black;
    color: white;
    font-family: Calibri;
    padding: 3rem;
    opacity: .8;
    transition: 5s;
    position: absolute;
    z-index: 3;
}

#sideBar h2
{
    font-size: 1.7rem;
   
}

.link
{
    color: white;
    text-decoration: none;
}


/*******************NAVIGATION BAR ENDING***************************/